#navbar-background-color{
    background-color: #AA66CC;
}

#writeup-font{
    font-family: 'Cinzel', serif;
}

#header-font{
    font-family: 'Permanent Marker', cursive;
}

#brand-font{
    font-family: 'Righteous', cursive;
}
