#navbar-background-color{
    background-color: white;
}

#writeup-font{
    font-family: 'Cinzel', serif;
}

#header-font{
    font-family: 'Permanent Marker', cursive;
}

#brand-font{
    font-family: 'Righteous', cursive;
}

#primary-background-color{
    background-image: linear-gradient(to right, #C04848 , #480048);
}

#card-background-color{
    background-color: #480048;
}